# Reduce memory usage during installation
node-linker=isolated
shamefully-hoist=false
strict-peer-dependencies=false
auto-install-peers=false
resolution-mode=lowest-direct
node-options=--max-old-space-size=8192
child-concurrency=4
